<div id="container">
  <div>
    <h1>Create an account</h1>
  </div>
  <div>
    <form name="signupForm" ng-submit="signup()" novalidate>
      <div class="nameContainer">
        <!-- firstname input form -->
        <label for="firstName">Name</label>
        <input type="text" name="firstName" ng-model="user.first" ng-minlength="2" ng-maxlength="15" required>
        <!-- firstname validation -->
        <p ng-show="signupForm.firtname.$error.minlength">Name too short</p>
        <p ng-show="signupForm.firtname.$error.maxlength">Name too long</p>
        <!-- lastname input form -->
        <input type="text" name="lastName" ng-model="user.last" ng-minlength="2" ng-maxlength="15" required>
        <!-- lastname validation -->
        <p ng-show="signupForm.lastName.$error.minlength">Name too short</p>
        <p ng-show="signupForm.lastName.$error.maxlength">Name too long</p>
      </div>
      <div class="usrnameContainer">
        <!-- username input form -->
        <label for="userName">User name</label>
        <input type="email" name="userName" ng-model="user.username" required>
        <!-- username validation -->
        <p ng-show="signupForm.userName.$invalid && !signupForm.userName.$pristine">Enter a valid email</p>
      </div>
      <div class="pwdContainer">
        <!-- password input form -->
        <label for="password">Create password</label>
        <input type="password" name="password" ng-model="user.pwd" ng-minlength="6" required>
        <p>6-character minimum; case sensitive</p>
        <!-- password validation -->
        <p ng-show="signupForm.password.$error.minlength">Password too short</p>
      </div>
      <div class="gender">
        <!-- gender input form -->
        <label for="gender">Gender</label>
        <input type="checkbox" name="gender" ng-model="user.male">Male<br>
        <input type="checkbox" name="gender" ng-model="user.female">Female<br>
      </div>
      <div class="preference">
        <!-- user preferences input form -->
        <h3>Select your charity preferences </h3>
        <label for="preference">Categories</label>
        <input type="checkbox" name="preference" ng-model="user.animals">Animals<br>
        <input type="checkbox" name="preference" ng-model="user.ACH">Arts, Culture, Humanities<br>
        <input type="checkbox" name="preference" ng-model="user.education">Education<br>
        <input type="checkbox" name="preference" ng-model="user.environment">Environment<br>
        <input type="checkbox" name="preference" ng-model="user.health">Health<br>
        <input type="checkbox" name="preference" ng-model="user.HS">Human Services<br>
        <input type="checkbox" name="preference" ng-model="user.international">International<br>
        <input type="checkbox" name="preference" ng-model="user.PB">Public Benefit<br>
        <input type="checkbox" name="preference" ng-model="user.religion">Religion<br>
      </div>
      <div>
        <!-- local area preference -->
        <label for="local">Local charity preference</label>
        <input type="checkbox" name="local" ng-model="user.local"><br>
      </div>
      <div class="phoneContainer">
        <!-- phone number input form -->
        <h3>Verify your phone number</h3>
        <p>Enter your number and we'll text you a verification code.</p>
        <label for="telephone">Telephone number</label>
        <input type="tel" name="telephone" ng-pattern="/^\(?\d{3}\)?\s?\d{3}\-?\d{4}$/" ng-model="user.phone" required>
        <!-- phone number validation -->
        <p ng-show="signupForm.telephone.$error.pattern">Enter a valid telephone number</p>
        <button type="button"ng-click="sendCode()" ng-disabled='signupForm.telephone.$invalid'>Send Code</button>
      </div>
      <div class="verifyContainer">
        <!-- verification code input -->
        <p>Please enter the verification code</p>
        <label for="verify">Verificaiton Code</label>
        <input type="text" name="verify" ng-model="user.code" required>
        <!-- verification code validation -->
        <p ng-show="signupForm.verify.$invalid || signupForm.verify.$pristine">Enter verification code received via SMS</p>
        <button type="button"ng-click="verifyCode()" ng-disabled="signupForm.verify.$invalid">Verify Code</button>
      </div>
      <div>
        <!-- user donation amount form -->
        <h3>Annual Pledge Amount</h3>
        <p>Please provide your annual pledge amount</p>
        <labor for="pledge">Pledge Amount</label>
        <input type="number" ng-model="user.pledge" name="pledge" required>
        <p>You have donated <span id="currency-default">{{user.pledge | currency }}</span>! </p>
        <p ng-show="signupForm.pledge.$invalid || signupForm.pledge.$pristine">Please enter amount</p>
      </div>
      <div id="createAccount">
        <!-- create account submit button-->
        <p>Click <strong>Create account</strong> to sign up today!</p>
        <button type="submit" ng-disabled='signupForm.$invalid'>Create account</button>
      </div>
    </form>
  </div>
</div>
